<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cadastar Noticia</h1>
    <form action="/adm/cadastar" method="post">
        <input type="text" name="nome" placeholder="Nome" required><br>
        <textarea name="descricao" placeholder="Descrição" required></textarea><br>
        <input type="date" name="data" placeholder="Data" required><br>
        <button type="submit">Cadastar</button>
    </form>
    <a href="/adm">Voltar</a>
</body>
</html>