<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Editar Noticia</h1>
    <form action="/adm/editar/<%=noticia._id %>" method="post">
        <input type="text" name="nome" value="<%=noticia.nome %>" required><br>
        <textarea name="descricao" required><%=noticia.descricao %></textarea><br>
        <input type="date" name="data" value="<%=noticia.data %>" required><br>
        <button type="submit">Salvar Alterações</button>
    </form>
    <a href="/adm">Voltar</a>
</body>
</html>